// /* You can add global styles to this file, and also import other style files */
// body {
//   scroll-behavior: smooth;
//   font-family: 'Segoe UI', sans-serif;
// }

// section {
//   scroll-margin-top: 70px;
// }

// .btn {
//   transition: all 0.3s ease;
// }

// .btn:hover {
//   transform: scale(1.03);
// }

@import "bootstrap-icons/font/bootstrap-icons.css";

.bi {
  font-family: "bootstrap-icons" !important;
  src: url("/assets/fonts/bootstrap-icons.woff2") format("woff2"),
       url("/assets/fonts/bootstrap-icons.woff") format("woff");
}
body {
  background-color: #faf8f9;
  scroll-behavior: smooth;
  font-family: 'Segoe UI', sans-serif;
}
